<%= form_tag class_group_memberships_path, method: :post do %>

  <div class="field row">
  <%= text_field_tag( 'membership[nickname]', '', placeholder: 'github username', class: 'form-control small-centered medium-centered large-centered columns' )%>
  </div>

  <%= label_tag('membership[kind]', "Set Teacher") %>
  <div class="switch radius">
    <input id="membership[kind]" type="checkbox">
    <label for="membership[kind]"></label>
  </div> 

<%= submit_tag("Submit", class: 'button submit-new-student') %>

<% end %>