<p id="notice"><%= notice %></p>

<p>
  <strong>Teacher:</strong>
  <%= @membership.teacher %>
</p>

<%= link_to 'Edit', edit_membership_path(@membership) %> |
<%= link_to 'Back', memberships_path %>
