<p id="notice"><%= notice %></p>

<p>
  <strong>Membership:</strong>
  <%= @membership.kind %>
</p>

<%= link_to 'Edit', edit_class_group_membership_path(@class_group, @membership) %> |
<%= link_to 'Back', class_group_memberships_path(@class_group) %>
