<p id="notice"><%= notice %></p>

<p>
  <strong>Membership:</strong>
  <%= @membership.kind %>
</p>

<%= link_to 'Edit', edit_membership_path(@membership) %> |
<%= link_to 'Back', memberships_path %>
