<!-- Layout A: display all question sets -->
<div class="new-q-set panel">
  <form ng-submit="addQuestionSet()">
    <h1 class="gothic-caps-font">add question set</h1>
    <input class="form-control" type="text" ng-model="name" placeholder="title">
    <div>
      <input type="submit" class="button" id="submit" value="Save">
    </div>
  </form>
</div>

<div class="all-q-sets panel" ng-repeat="questionSet in questionSets | orderBy: '-id'">
  <div class="each-q-set panel">
    <div>
      <h3 class="gothic-caps-font">{{questionSet.name}}</h3>
    </div>
    <div class="row">
      <a href="/class_groups/{{questionSet.class_group_id}}/question_sets/{{questionSet.id}}" class="small-4 medium-4 large-4 columns lecture">
        <p class="code-font">lecture</p>
      </a>
      <a href="#/edit/{{questionSet.id}}" class="small-4 medium-4 large-4 columns edit-questions">
        <p class="code-font">edit</p>
      </a>
      <a ng-click="destroy(questionSet.id)" class="btn btn-danger btn-mini small-4 medium-4 large-4 columns">destroy</a>
    </div>
  </div>
</div>