---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/users/mindeavor
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '60'
      X-Ratelimit-Remaining:
      - '56'
      X-Ratelimit-Reset:
      - '1410558807'
      Last-Modified:
      - Fri, 12 Sep 2014 20:36:09 GMT
      Etag:
      - '"fa10746d727836f5e03e15100939fdf9"'
      X-Github-Media-Type:
      - github.v3
    body:
      encoding: UTF-8
      string: '{"login":"mindeavor","id":17013,"avatar_url":"https://avatars.githubusercontent.com/u/17013?v=2","gravatar_id":"44d05cf62687c3489b863e4677414ca6","url":"https://api.github.com/users/mindeavor","html_url":"https://github.com/mindeavor","followers_url":"https://api.github.com/users/mindeavor/followers","following_url":"https://api.github.com/users/mindeavor/following{/other_user}","gists_url":"https://api.github.com/users/mindeavor/gists{/gist_id}","starred_url":"https://api.github.com/users/mindeavor/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/mindeavor/subscriptions","organizations_url":"https://api.github.com/users/mindeavor/orgs","repos_url":"https://api.github.com/users/mindeavor/repos","events_url":"https://api.github.com/users/mindeavor/events{/privacy}","received_events_url":"https://api.github.com/users/mindeavor/received_events","type":"User","site_admin":false,"name":"Gilbert","company":null,"blog":"https://twitter.com/mindeavor","location":"Austin,
        TX","email":null,"hireable":false,"bio":null,"public_repos":63,"public_gists":6,"followers":32,"following":2,"created_at":"2008-07-14T15:11:51Z","updated_at":"2014-09-12T20:36:09Z"}'
  recorded_at: Fri, 12 Sep 2014 21:01:37 GMT
recorded_with: VCR 2.9.3
