---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/users/makersquare
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '60'
      X-Ratelimit-Remaining:
      - '59'
      X-Ratelimit-Reset:
      - '1410539865'
      Last-Modified:
      - Fri, 12 Sep 2014 15:33:52 GMT
      Etag:
      - '"f99f654d4c4225c048af31ea04926ec1"'
      X-Github-Media-Type:
      - github.v3
    body:
      encoding: UTF-8
      string: '{"login":"makersquare","id":4218375,"avatar_url":"https://avatars.githubusercontent.com/u/4218375?v=2","gravatar_id":"687058c0dcf54250a1dfef3515bbc2a7","url":"https://api.github.com/users/makersquare","html_url":"https://github.com/makersquare","followers_url":"https://api.github.com/users/makersquare/followers","following_url":"https://api.github.com/users/makersquare/following{/other_user}","gists_url":"https://api.github.com/users/makersquare/gists{/gist_id}","starred_url":"https://api.github.com/users/makersquare/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/makersquare/subscriptions","organizations_url":"https://api.github.com/users/makersquare/orgs","repos_url":"https://api.github.com/users/makersquare/repos","events_url":"https://api.github.com/users/makersquare/events{/privacy}","received_events_url":"https://api.github.com/users/makersquare/received_events","type":"Organization","site_admin":false,"name":"MakerSquare","company":null,"blog":"www.makersquare.com","location":"Austin
        & San Francisco","email":"hello@makersquare.com","hireable":null,"bio":"Software
        Engineering School in Austin & San Francisco","public_repos":110,"public_gists":0,"followers":0,"following":0,"created_at":"2013-04-21T19:29:54Z","updated_at":"2014-09-12T15:33:52Z"}'
  recorded_at: Fri, 12 Sep 2014 15:37:45 GMT
recorded_with: VCR 2.9.3
