---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/users/aacase
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '60'
      X-Ratelimit-Remaining:
      - '55'
      X-Ratelimit-Reset:
      - '1410539865'
      Last-Modified:
      - Fri, 12 Sep 2014 00:18:58 GMT
      Etag:
      - '"7307214d495f5aba6da176d6f07ab12d"'
      X-Github-Media-Type:
      - github.v3
    body:
      encoding: UTF-8
      string: '{"login":"aacase","id":7494406,"avatar_url":"https://avatars.githubusercontent.com/u/7494406?v=2","gravatar_id":"c69be0666998b3529d1f562a6fd70e7e","url":"https://api.github.com/users/aacase","html_url":"https://github.com/aacase","followers_url":"https://api.github.com/users/aacase/followers","following_url":"https://api.github.com/users/aacase/following{/other_user}","gists_url":"https://api.github.com/users/aacase/gists{/gist_id}","starred_url":"https://api.github.com/users/aacase/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/aacase/subscriptions","organizations_url":"https://api.github.com/users/aacase/orgs","repos_url":"https://api.github.com/users/aacase/repos","events_url":"https://api.github.com/users/aacase/events{/privacy}","received_events_url":"https://api.github.com/users/aacase/received_events","type":"User","site_admin":false,"public_repos":17,"public_gists":1,"followers":1,"following":0,"created_at":"2014-05-05T23:38:56Z","updated_at":"2014-09-12T00:18:58Z"}'
  recorded_at: Fri, 12 Sep 2014 15:51:59 GMT
recorded_with: VCR 2.9.3
