<!-- begin student view section -->

<div class="student-qset-view">
  <div class="off-canvas-wrap" data-offcanvas>
    <div class="inner-wrap">

      <div class="align-left menu-icon">
      <a class="left-off-canvas-toggle" href="#" >
        <i class="fa fa-bars fa-3x"></i>
      </a>
      </div>

      <!-- Off Canvas Menu -->
      <aside class="left-off-canvas-menu">
          <!-- whatever you want goes here -->
          <ul>
            <li><a href="#">Attendance Check</a></li>
            <li><a href="#">Q1</a></li>
          </ul>
      </aside>

      <div class="question-yield">
        <h3>Attendance Check:</h3>
        <h2>Are you here?</h2>
        <button class="button radius">Yes!</button>
      </div>

    <!-- close the off-canvas menu -->
    <a class="exit-off-canvas"></a>

    </div>
  </div>  
</div>
  