<!-- Begin Teacher view Section -->

<div class="teacher-qset-view">
  <div class="off-canvas-wrap" data-offcanvas>
    <div class="inner-wrap">

      <div class="align-left menu-icon">
      <a class="left-off-canvas-toggle" href="#" >
        <i class="fa fa-bars fa-3x"></i>
      </a>
      </div>

      <!-- Off Canvas Menu -->
      <aside class="left-off-canvas-menu">
          <!-- whatever you want goes here -->
          <ul>
            <li><a ng-click="show = 1" class="cloud">Attendance Check</a></li>
            <li><a ng-click="show = 2" class="cloud">Q1</a></li>
          </ul>
      </aside>

      <!-- Question content for Teacher (with control options) goes here -->
      <div class="current-lecture-question show" ng-show="show = 1">
      <div class="question-yield">
        <h3>Attendance Check:teacher view</h3>
        <h2>Are you here?</h2>
        <button class="button radius">Yes!</button>
      </div>

      <div class="teacher-control-options row">
        <div class="small-10 small-centered medium-6 medium-centered large-6 large-centered columns panel">
          <div class="row">
            <div class="small-6 medium-6 large-6 columns panel">
              <a href="#">
                <i class="fa fa-play fa-3x"></i>
                <p>start</p>
              </a>
            </div>
            <div class="small-6 medium-6 large-6 columns panel">
              <a href="#">
                <i class="fa fa-stop fa-3x"></i>
                <p>stop</p>
              </a>
            </div>
          </div>
        </div>
      </div>
      </div>

      <div class="current-lecture-question show" ng-show="show = 2">
        <div class="question-and-options">    
          <h3>Q1:</h3>
          <h2>What is an Object?</h2>
          <div class="choice-buttons">
            <div><button class="button radius">A. A thingy.</button></div>
            <div><button class="button radius">B. stuff with attributes.</button></div>
            <div><button class="button radius">C. A structure.</button></div>
            <div><button class="button radius">D. glasses.</button></div>
          </div>
        </div>
      </div>
    <!-- close the off-canvas menu -->
    <a class="exit-off-canvas"></a>

    </div>
  </div>  
</div> <!-- END teacher question control panel -->