<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @question_set.name %>
</p>

<%= link_to 'Edit', edit_question_set_path(@question_set) %> |
<%= link_to 'Back', question_sets_path %>
