<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @question_set.name %>
</p>

<%= link_to 'Edit', edit_class_group_question_set_path(@class_group, @question_set) %> |
<%= link_to 'Back', class_group_question_sets_path(@class_group) %>
