<div id="about" class="opensans-font">

  <div id="panel_fix" class="panel">
    <h1 class="text-center">About</h1>
    <div  class="panel clearfix left">
      <div id="mks-pic" class="small-12 medium-6 large6 columns left">
        <img src="http://lorempixel.com/output/city-q-c-628-274-7.jpg" alt="MakerSquare Pic" title"MakerSquare Austin,Tx">
      </div>
      <div class="small-12 medium-6 large6 columns">
        <p>Click Clack is the result of an open source group project by students at MakerSquare in Austin, Tx.  Our intent was to create an immediate feedback tool for teachers to use during class lecture so that they may check their students understanding of material being presented as they progressed through lectures.</p>
        <p>We chose to build Click Clack with the latest in modern web development technologies making it so it can be used on any device the teacher or student has available to access the internet.  It's designed to be interactive, fun, and to serve a major purpose in daily instruction.  Give Click Clack a try and we think you'll immediately see the benefits of using it over traditional methods.</p>
      </div>
    </div>
    
    <div class="small-12 medium-12 large-12 columns left">
      <h2 class="text-center">What are CFU's?</h2>
      <p>CFU is an acronym for "Checks For Understanding" used throughout the world in many fields and settings, but primarily education.  CFUs are useful as they allow instructors to gauge the progress or understanding of content of their students as they introduce them to content.  Instructors can immediately choose how to respond when they do not get the results expected during class lectures.</p>
    </div>

    <div class="small-12 medium-12 large-12 columns">
      <h2 class="text-center">Makers</h2>
      <div class="avatar text-center">Put Diamond Avatar Cluster Here</div>
    </div>
  </div>
  
</div>