<h1>Welcome#index</h1>
<p>Find me in app/views/welcome/index.html.erb</p>

<% if current_user %>
  <h3>"Welcome, <%= current_user.name %>!"</h3>
  <%= link_to "Sign out", "/signout" %>
<% else %>
  <%= link_to "Sign in with Github", "/auth/github" %>
<% end %>
