 <!-- Layout C: Add a new question to the question set -->
<script type="text/javascript">
  window.g = {};
  g.questionSet = <%= raw @question_set.to_json %>;
</script>
  <div class="add-question panel">
    <div>
      <p class="code-font italic">
        Questions in {{questionSetName}}:
        <!-- insert question set name here: {{questionSetName}}. ID: {{questionSetID}}  -->
        <!-- {{questionRoute}}  -->
      </p>

      <div ng-repeat="question in questions">
      {{question.content.question}} -- <a href="#/edit_question/{{question.id}}">Edit</a><a ng-click="destroy(question.id)"> Delete</a>
      </div>

      <h1 class="gothic-caps-font">add question</h1>

      <form ng-submit="createQuestion()">
        <div class="row">

          <div class="row">
            <div class="small-10 columns">
              <input type="text" placeholder="question" ng-model="question">
            </div>
            <div class="small-2 columns">
              <span class="code-font">set answer:</span>
            </div>
          </div>

          <div class="row">
            <div class="small-10 columns">
              <input type="text" placeholder="choice" ng-model="choiceA">
            </div>
              <div class="switch small-2 columns">
                <span class="code-font"></span><input name="choices" id="A" value="0" type="radio" ng-model="answer">
                <label for="A"></label>
              </div>
          </div>

          <div class="row">
            <div class="small-10 columns">
              <input type="text" placeholder="choice" ng-model="choiceB">
            </div>
            <div class="switch small-2 columns">
              <span class="code-font"></span><input name="choices" id="B" value="1" type="radio" ng-model="answer">
              <label for="B"></label>
            </div>
          </div>

          <div class="row">
            <div class="small-10 columns">
              <input type="text" placeholder="choice" ng-model="choiceC">
            </div>
            <div class="switch small-2 columns">
              <span class="code-font"></span><input name="choices" id="C" value="2" type="radio" ng-model="answer">
              <label for="C"></label>
            </div>
          </div> 

          <div class="row">
            <div class="small-10 columns">
              <input type="text" placeholder="choice" ng-model="choiceD">
            </div>
            <div class="switch small-2 columns">
              <span class="code-font"></span><input name="choices" id="D" value="3" type="radio" ng-model="answer">
              <label for="D"></label>
            </div>
          </div>

        </div>

        <div>
          <input type="submit" class="button" id="submit" value="Add Question">
        </div>

        <div>
          <a href="#"> < Cancel</a>
        </div>

      </form>
    </div>
  </div>