<%= form_for(@class_group) do |f| %>

  <div class="field row">
    <% if @class_group.errors.any? %>
      <% placeholder = f.object.errors[:name].to_sentence %>
    <% end %>
    <%= f.text_field :name, placeholder: "title #{placeholder}", class: 'form-control small-centered medium-centered large-centered columns' %>
  </div>
  <div class="field row">
    <%= f.text_field :description, placeholder: 'description', class: 'form-control small-centered medium-centered large-centered columns' %>    
  </div>
  <div class="actions">
    <%= f.submit :SUBMIT, class: 'button' %>
  </div>
<% end %>
