// Place all the styles related to the ClassGroups controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// our colors
$teal: #54BC9E;
$teal-dark: #316858;
$lime: #A4F7C0;
$lime-dark: #90D8A8;
$cloud: #ecf0f1;
$dark-grey: #434234;
$bright-yellow: #FBF963;
$light-yellow: #FCFBBE;
$grey-yellow: #7F7F61;
$black-yellow: #303018;
$black-warm: #1D1610;
$light-black: #1d1d1d;
$black-home: #141414;
$escher: #444444;
$super-light-black: #585441;


#class_groups {
  div.header { 
    padding-top: 4rem;
    h3 {
      color: $escher;
      opacity: 0.4;
      margin: 0;
    }
    h1 {
      font-size: 4rem;
      margin: 0;
    }
  }
}



.all-classes #all-classes {
  margin: 0;
}

// class div styling
.specific-class {
  background-color: $cloud;
  border-radius: 0.4rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  margin-bottom: 1rem;
  p {
    margin-bottom: 0.2rem;
  }
}

.class-header {
  h3 {
    font-size: 2rem;
    margin-bottom: 0.5rem;
    color: $teal;
  }
  p {
    font-size: 1.23rem;
  }
  color: $teal;
  &:hover {
    h3, p {
    color: $teal-dark;
    }
  }
}

.class-options {
  margin: 0;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  // border-top: 2px solid $escher;
  div a {
    font-size: 0.8rem;
    color: $escher;
    &:hover {
      color: $teal;
    }
  }
}

.edit-class .edit-students {
  &:hover {
    background-color: transparent;
  }
}

.class-list {
  padding: 2rem 3rem 1rem 3rem;
  background-color: $escher;
  height: 70vh;
  width: 100%;
}

.add-class {
  padding-bottom: 1rem;
  button {
    border-radius: 0.4rem;
    background-color: $teal;
    &:hover, :active, :focus {
      background-color: $teal-dark;
    }
  }
}

.new-class {
  background-color: $cloud;
  padding-top: 1.5rem;
  // add other styling here
  margin-right: 0;
  margin-left: 0;
  h3 {
    font-size: 2rem;
    color: $teal-dark;
  }
  form {
    input.form-control {
      border-bottom: 2px solid $super-light-black;
      width: 45%;
    }
    input.button {
    border-radius: 0.4rem;
    background-color: $teal;
      &:hover, :active, :focus {
        background-color: $teal-dark;
      }
    }
  }
  p a {
    font-size: 1.3rem;
    color: $super-light-black;
  }
}

.grey-form {
  background-color: $cloud;
}

.add-class-width {
  width: 40%;
}

@media (max-width: 600px) {
  .new-class {
    form {
      input.form-control {
        width: 70%;
      }
    }
  }
}