// Place all the styles related to the QuestionSets controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.ng-qset-show {
  margin: 0;
  div.inner-wrap {
    
  }
}

body > div:nth-child(2) > div > div > div.teacher-qset-view > div.off-canvas-wrap > div > div.menu-icon {
  text-align: left;
  padding-left: 1rem;
  padding-top: 1rem;
}

div.teacher-qset-view {
  background-color: red;
}

body > div:nth-child(2) > div > div > div.student-qset-view > div > div > div.align-left.menu-icon {
  text-align: left;
  padding-left: 1rem;
  padding-top: 1rem;
}